<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
 </head>
  <p th:inline="text">
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
      (<a href="/logout">logout</a>)
    </p>
 <div align="center">
 
    <a> <img src="images/logo.jpg"> </img></a>
 </div>
<body>
 <p id="demo"></p>


<div>
<center>
	<h3>Stats</h3>

	<ul>
    <th:block th:object="${user}" th:each="item : ${user?.playerStats}">
    <h5>-----------------------------------------------</h5>
         <p>Scores are between 1-3 (1 poor, 2 average, 3 excellent)</p>
     
    <h5>Game</h5>
    <h5>Carries:<text th:text="${item?.carries}" /> </h5>
    <h5>Score:<text th:text="${item?.carriesScore}" /> </h5>
    <h5>Ball Placements:<text th:text="${item?.ballPlacement}" /> </h5>
    <h5>Score:<text th:text="${item?.ballPlacementScore}" /> </h5>
    <h5>Tackles:<text th:text="${item?.tackle}" /> </h5>
     <h5>Score:<text th:text="${item?.tackleScore}" /> </h5>
        <h5>Rucks:<text th:text="${item?.ruck}" /> </h5>
        <h5>Score:<text th:text="${item?.ruckScore}" /> </h5>
            <h5>Tries:<text th:text="${item?.triesScored}" /> </h5>
    
    </th:block>
    </ul>
 	<a style="color:blue" th:href="@{/charts/piechart}">View Total Game Chart!</a>
	   <br />   
 	      <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
	   <a style="color:blue" th:href="@{/welcome}">HomeScreen!</a>
	   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	

</center>	   	
</div>
</body>
</html>