<!DOCTYPE html>
<html>
  <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/viewmyteam">My Team</a></li>
	  <li><a href="/uploadStats" th:if="${#strings.startsWith(user.userType, 'Player')}">Upload Stats</a></li>
      <li><a href="/viewStats" th:if="${#strings.startsWith(user.userType, 'Player')}">View My Stats</a></li>
        <li><a href="/showplayers2" th:if="${#strings.startsWith(user.userType, 'Manager')}">Search for Players</a></li>
           <li><a href="/showplayers" th:if="${#strings.startsWith(user.userType, 'Manager')}">Show All Players</a></li>
       <li><a href="/showteams2">Search For Teams</a></li>     
      <li><a href="/showteams">Show all Teams</a></li>
       <li><a href = "/shownotifications">View Inbox</a></li>
   <li><a href="/managersOutbox">View Outbox</a></li>
      <li><a href="/viewpositioninfo" th:if="${#strings.startsWith(user.userType, 'Manager')}">Positions your team needs</a></li>
   
   <li><a href="/freePositions" th:if="${#strings.startsWith(user.userType, 'Player')}">Teams Looking For You</a></li>


    </ul>

  </div>
</nav>
 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
 </head>
   <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="/images/logo.jpg"> </img></a>
 </div>

<center>
<body>

 <div class="container">
 
 
 
 	<h3 style="color:black">New Notifications</h3>
 	
 
 	
<table class = "table table-striped" id="teamTable">
 	
 	<tr>
 	
 	<th> User </th>
 	<th> Message Status </th>
 	
 	</tr>
 	
 	<tr th:each="inbox : ${inboxs}">
 	<td th:text="${inbox.senderName}"></td>
 	<td th:text="${inbox.status}"></td>
 	 
 	 <td>
 	<a  class="btn btn-info" role="button" th:href="@{/viewsender/{name}(name=${inbox.senderName})}"><span>View Users Profile</span></a>
 	</td>
	<td>
  	<a class="btn btn-danger" role="button" th:href="@{/playerapproveAndJoin/{name}(name=${inbox.senderName})}" th:unless="${#strings.startsWith(inbox?.status, 'Acc') OR #strings.startsWith(inbox?.status, 'D') OR #strings.startsWith(inbox?.status, 'P')}">Join Team?!</a>
 	</td>
	<td></td><!-- th:if="${not #strings.startsWith(inbox?.status, 'P') }" -->
 	 <td>
 	<a class="btn btn-danger" role="button" th:href="@{/deletemessage/{name}(name=${inbox.senderName})}" th:unless="${#strings.startsWith(inbox.status, 'D') OR #strings.startsWith(inbox?.status, 'App') OR #strings.startsWith(inbox?.status, 'Acc')}" ><span>Decline Request</span></a>
 	</td>
 	
 	<td>
 	<a class="btn btn-warning" role="button"  onclick="ConfirmAlert();" th:href="@{/acceptmanager/{id}(id=${inbox.senderName})}" th:unless="${#strings.startsWith(inbox?.status, 'App') OR #strings.startsWith(inbox?.status, 'D')}"><span>Accept Request</span></a>
  	</td>
  	      <br />  
 
 	</tr>
 	</table>
 
 </div>
 
 <br />
  	             <a class="btn btn-warning" role="button" th:href="@{/showallmessages}">Show ALL Notifications</a>
 
		
	<br /><br />
  	             <a class="btn btn-info" role="button" th:href="@{/welcome}">Home</a>

<script>
function ConfirmAlert() {
    var txt;
    if (confirm("Yes or No!")) {
        txt = "You pressed OK!";
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>
</body>
</center>
</html>