<!DOCTYPE html>
<html>
  <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/viewmyteam">My Team</a></li>
        <li><a href="/showplayers2" th:if="${#strings.startsWith(user.userType, 'Manager')}">Search for Players</a></li>
           <li><a href="/showplayers" th:if="${#strings.startsWith(user.userType, 'Manager')}">Show All Players</a></li>
       <li><a href="/showteams2">Search For Teams</a></li>     
      <li><a href="/showteams">Show all Teams</a></li>
       <li><a href = "/shownotifications">View Inbox</a></li>
   <li><a href="/managersOutbox">View Outbox</a></li>
      <li><a href="/viewpositioninfo" th:if="${#strings.startsWith(user.userType, 'Manager')}">Positions your team needs</a></li>
   
  

    </ul>

  </div>
</nav>

 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
 </head>
   <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">

 
    <a> <img src="images/logo.jpg"> </img></a>
 </div>
 
<center>
<body>
 <div class="container">
<h3>Manager:</h3>
<img th:src="@{${'/images/' + user?.imagePath }}"  />
<h4>Name: <text th:text="${user?.userName}" /> </h4>
 <h4>Last Name: <text th:text="${user?.lastName}" /> </h4>
 <h4>Phone: <text th:text="${user?.phone}" /> </h4>
 <h4>Address: <text th:text="${user?.address}" /> </h4>

 
    </div>
  
<br />
  <a href="/viewmyteam" class="btn btn-info" role="button">My Team</a> 
  
  <br /> 
         <a class="twitter-timeline" data-width="400" href="https://twitter.com/UlsterBankRugby?ref_src=twsrc%5Etfw">Tweets by UlsterBankRugby</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        
</body>

 <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
</center>
</html>