<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/viewmyteam">My Team</a></li>
	  <li><a href="/uploadStats" th:if="${#strings.startsWith(user.userType, 'Player')}">Upload Stats</a></li>
      <li><a href="/viewStats" th:if="${#strings.startsWith(user.userType, 'Player')}">View My Stats</a></li>
        <li><a href="/showplayers2" th:if="${#strings.startsWith(user.userType, 'Manager')}">Search for Players</a></li>
           <li><a href="/showplayers" th:if="${#strings.startsWith(user.userType, 'Manager')}">Show All Players</a></li>
       <li><a href="/showteams2">Search For Teams</a></li>     
      <li><a href="/showteams">Show all Teams</a></li>
       <li><a href = "/shownotifications">View Inbox</a></li>
   <li><a href="/managersOutbox">View Outbox</a></li>
      <li><a href="/viewpositioninfo" th:if="${#strings.startsWith(user.userType, 'Manager')}">Positions your team needs</a></li>
   
   <li><a href="/freePositions" th:if="${#strings.startsWith(user.userType, 'Player')}">Teams Looking For You</a></li>


    </ul>

  </div>
</nav>
 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
  <style type="text/css">
    .my-team {
        background-color: red;
        font-weight: bold;
    }
</style>

<script>
function myFunction() {
	console.log('It works');
    document.getElementById("${item?.id}").contentEditable = true;

}
</script>
 </head>
   <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="images/logo.jpg"> </img></a>
 </div>
<body>
 <p id="demo"></p>


<div>
<center>

	<h3> <img th:src="@{${'/images/' + myteam?.imagePath}}"  /></h3>
	<h4>Name: <text th:text="${myteam?.teamName}" /> </h4>
	<h4>Address: <text th:text="${myteam?.teamAddress}" /> </h4>
	<br /> 
	  <a href="/chart/bar" class="btn btn-warning" role="button">View Home/Away Stat Chart</a> 
	  <br />
	  <br />

<table class = "table">

<tr>

<td><h5>Name</h5></td>
<td><h5>Position</h5></td>
<td><h5>Played</h5></td>
<td><h5>Won</h5></td>
<td><h5>Draw</h5></td>
<td><h5>Lost</h5></td>
<td><h5>Points For</h5></td>
<td><h5>Points Against</h5></td>
<td><h5>Points Difference</h5></td>
<td><h5>Winning Bonus Points</h5></td>
<td><h5>Losing Bonus Points</h5></td>
<td><h5>Points</h5></td>

</tr>
<!-- <tr th:each="league : ${league}" >

 <td bgcolor="#FF0000" th:unless="${!#strings.startsWith(league?.name, myteam?.teamName) }" th:text="${league?.name}" /> -->
<tr th:each="league : ${league}" th:if="${#strings.startsWith(user?.position, 'T')}" th:classappend="${#strings.startsWith(league?.name, myteam?.teamName)}? 'my-team'">

    <td th:text="${league?.name}" />

 <td th:text="${league?.pos}" />
 <td th:text="${league?.played}" />
 <td th:text="${league?.won}" />
 <td th:text="${league?.drew}" />
 <td th:text="${league?.lost}" />
 <td th:text="${league?.pointsFor}" />
 <td th:text="${league?.pointsAgainst}" />
  <td th:text="${league?.pointsDifference}" />
  <td th:text="${league?.Tb}" />
  <td th:text="${league?.lb}" />
  <td th:text="${league?.pts}" />
 </tr>
 </table>



	

	<table class = "table">
 	
 	<tr>
 	<h3>Home Games</h3>
 	<th> Date</th>
 	<th> Team </th>
 	<th> Our Score </th>
 	<th></th>
 	<th> Their Score </th>

 	</tr>
 	
 			 
 	
 	<tr th:each="games : ${wonHgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.AwayTeam}"></td>
 	<td th:text="${games.AwayScore}"></td>
 	
 	<td> vs </td>
 	<td th:text="${games.HomeScore}"></td>
 	</tr>
 	</table>

	<table class = "table">
 	
 	<tr>
 	<h3>Upcoming Home Games</h3>
 	<th> Date</th>
 	<th> VS </th>
 	</tr>

 	<tr th:each="games : ${futureHgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.AwayTeam}"></td>

 	</tr>
 	</table>
 	
 	
 
 	
 	
 		<table class = "table">
 	
 	<tr>
 	<h3>Away Games</h3>
 	<th> Date</th>
 	<th> Team </th>
 	<th> Our Score </th>
 	<th></th>
 	<th> Their Score </th>

 	</tr>
 	
 			 
 	
 	<tr th:each="games : ${wonAgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.HomeTeam}"></td>
 	<td th:text="${games.HomeScore}"></td>
 	<td> vs </td>
 	<td th:text="${games.AwayScore}"></td>
 	
 	</tr>
 	</table>

	<table class = "table">
 	
 	<tr>
 	<h3>Upcoming Away Games</h3>
 	<th> Date</th>
 	<th> VS </th>
 	</tr>

 	<tr th:each="games : ${futureAgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.HomeTeam}"></td>

 	</tr>
 	</table>




  <h2>Players</h2>
	<ul class="list-group">
    <th:block th:object="${myteam}" th:each="item : ${myteam?.userLogins}">
 
     <!--    <h5>ID:<text th:text="${item?.id}" /> </h5> -->
    <li class="list-group-item">
    
    <span class="badge"><text th:text="${item?.playerinfo?.position}"/></span>
    <br />
    <img th:src="@{${'/images/' + item?.imagePath }}"  />
    <h5>Position:<text th:text="${item?.playerinfo?.position}" th:id="${item?.id}"/></h5>
    <h5>First Name:<text th:text="${item?.firstName}" /> </h5>
    <h5>Last Name:<text th:text="${item?.lastName}" /> </h5>
    <h5>Type:<text th:text="${item?.userType}" /> </h5>
    <h5>Username:<text th:text="${item?.userName}" /> </h5>
    
<!--  <button onclick="myFunction()" th:if="${#strings.startsWith(user.userType, 'Manager')}" class="btn btn-warning" role="button">Change Players Position</button>
 <br/>
 <br/>
 <form action="#" th:action="@{/changePosition/{id}(id=${item?.id})}"  method="get" th:if="${#strings.startsWith(user.userType, 'Manager')}">
 <td></td><td><button type="submit" class="btn btn-info">Submit</button></td>
 </form> -->
 <br/>
  <br/>
 
<!--     <a colour="red" th:href="@{/viewplayer/{id}(id=${item?.id})}">View Player</a>
 -->      <a th:href="@{/viewplayer/{id}(id=${item?.id})}" class="btn btn-info" role="button">View Players Profile</a> 
    
    </li>
    </th:block>
 
    </ul>
 	    <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

	                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
 	
	   <a style="color:red" th:if="${myteam != null}" th:href="@{/leaveteam/{id}(id=${myteam?.id})}">Leave Team?!</a>

</center>	   	
</div>


</body>
</html>