<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
 </head>
  <p th:inline="text">
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
      (<a href="/logout">logout</a>)
    </p>
 <div align="center">
 
    <a> <img src="images/logo.jpg"> </img></a>
 </div>
<body>
 <p id="demo"></p>


<div>
<center>


	<h3> <img th:src="@{${'/images/' + myteam?.imagePath}}"  /></h3>
	<h4>Name: <text th:text="${myteam?.teamName}" /> </h4>
	<h4>Address: <text th:text="${myteam?.teamAddress}" /> </h4>
	<br /> 
	
	
	<table class = "table">
 	
 	<tr>
 	<h3>Home Games</h3>
 	<th> Date</th>
 	<th> Team </th>
 	<th> Our Score </th>
 	<th></th>
 	<th> Their Score </th>

 	</tr>
 	
 			 
 	
 	<tr th:each="games : ${wonHgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.AwayTeam}"></td>
 	<td th:text="${games.HomeScore}"></td>
 	<td> vs </td>
 	<td th:text="${games.AwayScore}"></td>
 	</tr>
 	</table>

	<table class = "table">
 	
 	<tr>
 	<h3>Upcoming Home Games</h3>
 	<th> Date</th>
 	<th> VS </th>
 	</tr>

 	<tr th:each="games : ${futureHgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.AwayTeam}"></td>

 	</tr>
 	</table>
 	
 	
 
 	
 	
 		<table class = "table">
 	
 	<tr>
 	<h3>Away Games</h3>
 	<th> Date</th>
 	<th> Team </th>
 	<th> Our Score </th>
 	<th></th>
 	<th> Their Score </th>

 	</tr>
 	
 			 
 	
 	<tr th:each="games : ${wonAgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.HomeTeam}"></td>
 	<td th:text="${games.AwayScore}"></td>
 	<td> vs </td>
 	<td th:text="${games.HomeScore}"></td>
 	</tr>
 	</table>

	<table class = "table">
 	
 	<tr>
 	<h3>Upcoming Away Games</h3>
 	<th> Date</th>
 	<th> VS </th>
 	</tr>

 	<tr th:each="games : ${futureAgames}">
 	<td th:text="${games.datePlayed}"></td>
 	<td th:text="${games.HomeTeam}"></td>

 	</tr>
 	</table>




  <h2>Players</h2>
	<ul>
    <th:block th:object="${myteam}" th:each="item : ${myteam?.userLogins}">
    <h5>-----------------------------------------------</h5>
        <h5>ID:<text th:text="${item?.id}" /> </h5>
    
    <h5>First Name:<text th:text="${item?.firstName}" /> </h5>
    <h5>Last Name:<text th:text="${item?.lastName}" /> </h5>
    <h5>Type:<text th:text="${item?.userType}" /> </h5>
    <h5>Username:<text th:text="${item?.userName}" /> </h5>
    <h5>Position:<text th:text="${item?.playerinfo?.position}" /> </h5>
    <a th:href="@{/viewplayer/{id}(id=${item?.id})}"><span>View Player</span></a>
    
    
    </th:block>
 
    </ul>
 	
 	      <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
	   <a style="color:blue" th:href="@{/welcome}">HomeScreen!</a>
	   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
	   <a style="color:blue" th:if="${myteam != null}" th:href="@{/leaveteam/{id}(id=${myteam?.id})}">Leave Team?!</a>

</center>	   	
</div>
</body>
</html>