<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Individual Player</title>
	 
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="/js/postrequest.js"></script>
      <script src="/js/getrequest.js"></script>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>

    </ul>
   
  </div>
</nav>
 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
</head>

<body>
 <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="/images/logo.jpg"> </img></a>
 </div>
<div>
<center>
	<h3>Player</h3>
			
		 <img th:src="@{${'/images/' + image}}"  />
	<h4>Email: <text th:text="${player.userName}" /> </h4>
	<h4>Name: <text th:text="${player.firstName}" /> </h4>
	<h4>Surname: <text th:text="${player.lastName}" /> </h4>
	<h4>Phone: <text th:text="${player.phone}" /> </h4>
	<h4>Address: <text th:text="${player.address}" /> </h4>
	<h4>Member of team: <text th:text="${player.position}" /> </h4>
	<h4>Position: <text th:text="${player?.playerinfo?.position}" /> </h4>
	 <h4>Age: <text th:text="${player?.playerinfo.age}" /> </h4>
  <h4>Height: <text th:text="${player?.playerinfo.height}" /> cm</h4>
   <h4>Weight: <text th:text="${player?.playerinfo.weight}" /> Kg</h4>
	
<!--   	<a style="color:blue" th:href="@{/playerapproveAndJoin/{name}(name=${inbox.senderName})}" th:if="${not #strings.startsWith(inbox?.status, 'P')}">Join Team?!</a>
 -->	
	
    <input id="do-some-action2" type="button" value="Invite Player To Join" th:if="${not #strings.startsWith(player?.position, 'T')}"/>

 	
 	             <br />  
 	             
 	             <a class="btn btn-warning" role="button" th:href="@{/charts/piechart/{id}(id=${player.userName})}">View Total Game Chart!</a>
	   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
 		   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
 	
	  	               <a href="/home" class="btn btn-info" role="button">Home</a>
<br />
	   
</center>	   
	   
	  


	
</div>
<!-- Javascript functions -->
    <script th:inline="javascript">

    /**
       * Send an action to the server.
       */
      function sendAction(event) {
        event.preventDefault();

        /*<![CDATA[*/

        var name = /*[[${player.userName}]]*/ 'default';
        alert("You are about to send a request to this teams manager which can not be reversed.\nClick Ok to proceed.");

    /*]]>*/

        $.ajax({
          url: "/some-action2",
          type: "POST",
          data: { firstName: name } 
        });
        return;
      } // function sendAction
      
      /**
       * Init operations.
       */
      $(document).ready(function() {
    	
        // Bind the on-click event for the button element.
        $("#do-some-action2").on("click", sendAction);
        
      });

    </script>

</body>
</html>