<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>

    </ul>
   
  </div>
</nav>
 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
    <style type="text/css">
    .my-team {
        background-color: red;
        font-weight: bold;
    }
    </style>
 </head>
   <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="/images/logo.jpg"> </img></a>
 </div>

<body>

 

	   <center> 
 

	
	<h3>Team</h3>
	<img th:src="@{${'/images/' + team.imagePath}}"  />
	<h3>Name: <text th:text="${team.teamName}" /> </h3>
	<h3>Address: <text th:text="${team.teamAddress}" /> </h3>
	<h3>Members:  </h3>
	
	<table class = "table">

<tr>

<td><h5>Name</h5></td>
<td><h5>Position</h5></td>
<td><h5>Played</h5></td>
<td><h5>Won</h5></td>
<td><h5>Draw</h5></td>
<td><h5>Lost</h5></td>
<td><h5>Points For</h5></td>
<td><h5>Points Against</h5></td>
<td><h5>Points Difference</h5></td>
<td><h5>Winning Bonus Points</h5></td>
<td><h5>Losing Bonus Points</h5></td>
<td><h5>Points</h5></td>

</tr>
<!-- <tr th:each="league : ${league}" >

 <td bgcolor="#FF0000" th:unless="${!#strings.startsWith(league?.name, myteam?.teamName) }" th:text="${league?.name}" /> -->
<tr th:each="league : ${league}" th:classappend="${#strings.startsWith(league?.name, team?.teamName)}? 'my-team'">
    <td th:text="${league?.name}" />

 <td th:text="${league?.pos}" />
 <td th:text="${league?.played}" />
 <td th:text="${league?.won}" />
 <td th:text="${league?.drew}" />
 <td th:text="${league?.lost}" />
 <td th:text="${league?.pointsFor}" />
 <td th:text="${league?.pointsAgainst}" />
  <td th:text="${league?.pointsDifference}" />
  <td th:text="${league?.Tb}" />
  <td th:text="${league?.lb}" />
  <td th:text="${league?.pts}" />
 </tr>
 </table>
	
	<div class="list-group">
	<ul class="list-group-item">
    <th:block th:object="${team}" th:each="item : ${team.userLogins}">
        
        
     
    <li class="list-group-item">
     
     <span class="badge"><text th:text="${item?.playerinfo?.position}" /></span>
     <br />
     <img th:src="@{${'/images/' + item?.imagePath}}"  />
         
     
    <h4>First Name:<text th:text="${item.firstName}" /> </h4>
    <h4>Last Name:<text th:text="${item.lastName}" /> </h4>
    <h4>Type:<text th:text="${item.userType}" /> </h4>
    <h4>Username:<text th:text="${item.userName}" /> </h4>
    <h4>Position:<text th:text="${item?.playerinfo?.position}" /> </h4>
    <h4>Age: <text th:text="${item?.playerinfo?.age}" /> </h4>
  <h4>Height: <text th:text="${item?.playerinfo?.height}" /> cm</h4>
   <h4>Weight: <text th:text="${item?.playerinfo?.weight}" /> Kg</h4>
         <a th:href="@{/viewplayer/{id}(id=${item?.id})}" class="btn btn-info" role="button">View Players Profile</a> 
   
</li>
    </th:block>
    </ul>
    
    </div>
    
    <br />
     <button onclick="initMap()"  class="btn btn-success">Show on Map</button> 
		     <br />
		      <br />
	    <input id="do-some-action" type="button" value="Apply to this team" class="btn btn-danger"/>
	    <br />
	     <br />
	     <div id="map" style="width:400px;height:400px;" ></div>



	
</center>	   
	   
	  


	


 <!-- Javascript functions -->
    <script th:inline="javascript">

    /**
       * Send an action to the server.
       */
      function sendAction(event) {
        event.preventDefault();

        /*<![CDATA[*/

        var name = /*[[${team.teamName}]]*/ 'default';
        alert("You are about to send a request to this teams manager which can not be reversed.\nClick Ok to proceed.");

    /*]]>*/

        $.ajax({
          url: "/some-action",
          type: "POST",
          data: { teamName: name } 
        });
        return;
      } // function sendAction
      
      /**
       * Init operations.
       */
      $(document).ready(function() {
    	
        // Bind the on-click event for the button element.
        $("#do-some-action").on("click", sendAction);
        
      });

    </script>
    
    <script th:inline="javascript">
   
    var geocoder;
    var map;

    /*<![CDATA[*/

    var address = /*[[${anythingBut}]]*/ 'default';
   

/*]]>*/
    

    function initMap() {
    	  console.log(address);
        
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: { lat: -25.363, lng: 131.044 }
        });
   
        geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);

    }

    function codeAddress(geocoder, map) {

        geocoder.geocode({ 'address': address}, function (results, status) {
            if (status == 'OK') {
            	 map.setCenter(results[0].geometry.location);
                 var marker = new google.maps.Marker({
                   map: map,
                   position: results[0].geometry.location 
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }



    </script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZUo9_fCjdFCxU8vEgOTHecHyz3B9hOOY"></script>

</body>
</html>