<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

 <title>Welcome Security with Spring Boot!</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/viewmyteam">My Team</a></li>
	  <li><a href="/uploadStats" th:if="${#strings.startsWith(user.userType, 'Player')}">Upload Stats</a></li>
      <li><a href="/viewStats" th:if="${#strings.startsWith(user.userType, 'Player')}">View My Stats</a></li>
        <li><a href="/showplayers2" th:if="${#strings.startsWith(user.userType, 'Manager')}">Search for Players</a></li>
           <li><a href="/showplayers" th:if="${#strings.startsWith(user.userType, 'Manager')}">Show All Players</a></li>
       <li><a href="/showteams2">Search For Teams</a></li>     
      <li><a href="/showteams">Show all Teams</a></li>
       <li><a href = "/shownotifications">View Inbox</a></li>
   <li><a href="/managersOutbox">View Outbox</a></li>
      <li><a href="/viewpositioninfo" th:if="${#strings.startsWith(user.userType, 'Manager')}">Positions your team needs</a></li>
   
   <li><a href="/freePositions" th:if="${#strings.startsWith(user.userType, 'Player')}">Teams Looking For You</a></li>


    </ul>

  </div>
</nav>
 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
 </head>
    <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
       <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="images/logo.jpg"> </img></a>
 </div>
	
<center>
<body>


 <div class="container">
 
 
 	<h3 style="color:blue">Teams List</h3>
 	
 	<table class = "table table-striped" id="teamTable">
 	
 	<tr>
 	<th></th>
 	<th> Id </th>
 	
 	<th> Team Name </th>
 	<th> Address </th>
 	<th> UBL Division2 </th>
 	
 	</tr>
 	
 	<tr th:each="team : ${teams}">
 	<td> <img th:src="@{${'/images/' + team.imagePath}}"  /></td>
 	<td th:text="${team.id}"></td>
 	<td th:text="${team.teamName}"></td>
 	<td th:text="${team.teamAddress}"></td>
 	 <td th:text="${team.level}"></td>
 	
 	
 	

 	
 	     
	
 
 	<td>	  <a th:href="@{/viewteam/{id}(id=${team.id})}" class="btn btn-warning" role="button">View Team</a> </td>
-<!--  <td>  <a th:href="@{/jointeam/{id}(id=${team.id})}">Join Team</a> </td> -->
 	</tr>
 	</table>
 	 	
 
 <p id="demo"></p>

 

 </div>
 <br />
	          <a style="color:blue" th:href="@{/welcome}">HomeScreen!</a>
 
 
 


 



<script>
function ConfirmAlert() {
    var txt;
    if (confirm("Yes or No!")) {
        txt = "You pressed OK!";
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>

<script>
function saveAreaToUser(){


		var areaName = document.getElementById("addressBox").value;
 
	  

    //alert("Lat: " + Lat + " " + "Long: " + Long); 
	$.ajax({
  type: "GET",
  url: "/saveAreaToProfile",
  data: {  
          areaName: areaName
	}, // parameters
datatype: 'json'
//alert(status);
});
}


</script>
	
<script>
function myFunction() {
	var mapOptions = {
		    center: new google.maps.LatLng(53.3, -6.26),
		    zoom: 10,
		    mapTypeId: google.maps.MapTypeId.HYBRID
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZUo9_fCjdFCxU8vEgOTHecHyz3B9hOOY"></script>


</body>
</center>
</html>