<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 <title>My Club</title>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">MyClub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/welcome">Home</a></li>
      <li><a href="/viewmyteam">My Team</a></li>
      <li><a href="/uploadStats" th:if="${#strings.startsWith(user.userType, 'Player')}">Upload Stats</a></li>
      <li><a href="/viewStats" th:if="${#strings.startsWith(user.userType, 'Player')}">View My Stats</a></li>
      <li><a href="/showteams">Show all Teams</a></li>
       <li><a href = "/shownotifications">View Inbox</a></li>
   <li><a href="/playersOutbox">Outbox</a></li>
       <li><a href="/showteams2">Search For Teams</a></li>
 <li><a href="/freePositions" th:if="${#strings.startsWith(user.userType, 'Player')}">Teams Looking For You</a></li>
   
    <!--     <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">More Options <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/showteams2">Search For Teams</a></li>
            <li><a href="/freePositions">Teams Looking For You</a></li>
          </ul>
        </li> -->
    </ul>

  </div>
</nav>

 <style>
  .bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
  </style>
 </head>
   <p th:inline="text" >
      You are logged as: <b>[[${#httpServletRequest.remoteUser}]]</b>
          <a href="/logout" class="btn btn-danger" role="button">Logout</a>

    </p>
  <div class="container-fluid bg-1 text-center" align="center">
 
    <a> <img src="/images/logo.jpg"> </img></a>
 </div>
  
 

     
    
 <center>
 <body>
 <div class="container">
<h3>Profile:</h3>
<img th:src="@{${'/images/' + user?.imagePath}}"  />
<h4>Name: <text th:text="${user?.userName}" /> </h4>
 <h4>Last Name: <text th:text="${user?.lastName}" /> </h4>
 <h4>Phone: <text th:text="${user?.phone}" /> </h4>
 <h4>Address: <text th:text="${user?.address}" /> </h4>
  <h4>Position: <text th:text="${user?.playerinfo?.position}" /> </h4>
  <h4>Age: <text th:text="${user?.playerinfo?.age}" /> </h4>
  <h4>Height: <text th:text="${user?.playerinfo?.height}" /> cm</h4>
   <h4>Weight: <text th:text="${user?.playerinfo?.weight}" /> Kg</h4>
 
    </div>
     
  
         
         
         <a class="twitter-timeline" data-width="400" href="https://twitter.com/UlsterBankRugby?ref_src=twsrc%5Etfw">Tweets by UlsterBankRugby</a> <script async='async' src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     
     <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
 </body>
 </center>
</html>

